@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Azeret Mono", monospace
}

/* Banner section Style */
.banner-container{
    width: 1440px;
height: 652px;
margin: 0 auto;
margin-top: 20px;
background-image: url(assets/Hero-bg.png);
background-position: center;
background-repeat: no-repeat;
}

.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-content img{
    width: 240.28px;
height: 240px;
margin-top: 20px;
}

.banner-content h1{
    width: 998px;
height: 95px;
text-align: center;
margin-top: 20px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 35px;
font-weight: 800;
}

.banner-content p{
    width: 845px;
height: 52px;
opacity: 0.7;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
text-align: center;
font-size: 16px;
font-weight: 400;
margin-top: 24px;
}

/* .banner-content button{
    
        width: 208px;
        height: 66px;
        font-family: Azeret Mono;
        background: rgb(13, 19, 33);
        color: rgb(255, 255, 255);
        font-size: 15px;
        font-weight: 600;
        line-height: 23px;
        letter-spacing: 0%;
        text-align: center;
        border-radius: 8px;
        margin-top:60px;
} */
.banner-content a{
    width: 208px;
height: 66px;
border-radius: 8px;
background: rgb(13, 19, 33);
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 600;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 21px 24px 21px 24px;
text-decoration: none;
cursor: pointer;
margin-top: 80px;
}


.second-design{
    width: 1140px;
height: 1395px;
margin: 0 auto;
margin-top: 20px;
margin-bottom: 20px;
border-radius: 16px;
background: rgba(13, 19, 33, 0.02);
}

.question-ans{
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
margin-bottom: 40px;
margin-top: 30px;
}

.question-ans h1{
    width: 852px;
height: 39px;
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
text-align: center;
margin-top: 60px;
}

.question-ans p{
    width: 852px;
height: 52px;
text-align: center;
margin-top: 25px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
}

.first-imgbox{
    width: 946px;
height: 336px;
border-radius: 16px;
background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
margin: 0 auto;
margin-bottom: 40px;
}



.text1 h2{
    width: 390px;
height: 72px;
color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 19px;
font-weight: 700;
}

.text1 p{
    width: 468px;
height: 52px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
}

.text1 button{
    width: 150px;
height: 48px;
margin-top: 20px;
margin: 32px 0px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 600;
}

.image1{

width: 249.56px;
height: 210.01px;
left: 0.36%;
right: -0.36%;
top: 1.74%;
bottom: -1.74%;
}

.second-imgbox{
    width: 946px;
height: 336px;
margin: 0 auto;
}

.text2 h2{
    width: 477px;
height: 72px;
color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 19px;
font-weight: 700;
}

.text2 p{
    width: 468px;
height: 52px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
opacity: 0.7;

}

.text2 button{
    width: 150px;
height: 48px;
margin-top: 20px;
margin: 32px 0px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 600;
}

.second-imgbox{
    width: 946px;
height: 336px;
border-radius: 16px;
background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
margin: 0 auto;
margin-bottom: 40px;
}

.third-imgbox{
    width: 946px;
height: 336px;
margin: 0 auto;
}

.text3 h2{
    width: 477px;
height: 72px;
color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 19px;
font-weight: 700;
}

.text3 p{
    width: 468px;
height: 52px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
opacity: 0.7;

}

.text3 button{
    width: 150px;
height: 48px;
margin-top: 20px;
margin: 32px 0px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 600;
}

.third-imgbox{
    width: 946px;
height: 336px;
border-radius: 16px;
background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
margin: 0 auto;
margin-bottom: 40px;
}

.inspiration{
    width: 1140px;
height: 777px;
    margin: 0 auto;

}

.video h2{
    width: 852px;
height: 39px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 27px;
font-weight: 800;
margin-bottom: 20px;
text-align: center;
margin-top: 40px;
}

.video p{
    width: 740px;
height: 52px;
opacity: 0.7;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 12px;
font-weight: 400;
margin-bottom: 20px;
text-align: center;
}

.video iframe{
    width: 880px;
height: 450px;
box-sizing: border-box;
border: 2px solid rgb(68, 78, 100);
border-radius: 16px;
margin-bottom: 20px;
}

.video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.target-container{
    width: 1140px;
height: 463px;
margin: 0 auto;
}

.target-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.target-content h2{
    width: 852px;
    height: 39px;
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
text-align: center;
margin-top: 10px;
}
.target-content p{
    width: 852px;
height: 52px;
opacity: 0.7;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
text-align: center;
margin-top: 24px;
}

.target-img1{
    width: 330px;
height: 280px;
border-radius: 16px;
background: rgba(255, 76, 30, 0.05);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 30px;

}

.target-img1 img{
    position: relative;
    width: 56px;
    height: 56px;
    margin-bottom: 15px;
}
.target-img1 h3{
    width: 284px;
height: 36px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 23px;
font-weight: 800;
margin-bottom: 10px;
}
.target-img1 p{
    width: 284px;
height: 52px;
opacity: 0.7;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
margin-bottom: 10px;
text-align: justify;
right: 10px;
}
.target-img1 a{
    width: 284px;
height: 20px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;
}


.target-img2{
    width: 330px;
height: 280px;
border-radius: 16px;
background: rgba(0, 76, 232, 0.05);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 30px;

}

.target-img2 img{
    position: relative;
    width: 56px;
    height: 56px;
    margin-bottom: 15px;
}
.target-img2 h3{
    width: 284px;
height: 36px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 23px;
font-weight: 800;
margin-bottom: 10px;
}
.target-img2 p{
    width: 284px;
height: 52px;
opacity: 0.7;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
text-align: justify;
margin-bottom: 10px;
}
.target-img2 a{
    width: 284px;
height: 20px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;
}

/* Image 3 */

.target-img3{
    width: 330px;
height: 280px;
border-radius: 16px;
background: rgba(255, 223, 0, 0.05);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 30px;

}

.target-img3 img{
    position: relative;
    width: 56px;
    height: 56px;
    margin-bottom: 15px;
}
.target-img3 h3{
    width: 284px;
height: 36px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 23px;
font-weight: 800;
margin-bottom: 10px;
}
.target-img3 p{
    width: 284px;
height: 52px;
opacity: 0.7;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
margin-bottom: 20px;
text-align: justify;
}
.target-img3 a{
    width: 284px;
height: 20px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;
}


.img-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 24px;
}

.lst-section{
    width: 1140px;
height: 314px;
margin: 0 auto;
background-image: url(assets/handshake.jpg);
background-position: center;
background-repeat: no-repeat;
border-radius: 16px;
background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),url(Email);
opacity: 0.7;
left: 150px;
right: 150px;
top: 4752px;
bottom: 179px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.lst-section-content{
    width: 1044px;
height: 186px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
}

.lst-section-content h1{
    width: 230px;
height: 36px;
color: rgb(0, 0, 0);
font-family: Azeret Mono;
font-size: 22px;
font-weight: 600;
}

.lst-section-content p{
    width: 606px;
height: 52px;
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
opacity: 0.7;
text-align: center;
}

.lst-section-content .input{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.input1{
    width: 548px;
height: 57px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;
background: rgb(255, 255, 255);
margin-left: 15px;
}

.input2{
    width: 120px;
height: 58px;
border-radius: 8px;
background: rgb(255, 255, 255);
}

.ftr{
    width: 1140px;
    height: 100px;
    left: 0;
    top: 5145px;
/* border: 2px solid red; */
border-radius: 16px;
background: rgba(13, 19, 33, 0.03);
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
padding: 0px;
margin: 0 auto;
margin-top: 40px;
}

.ftr-text{
    width: 456px;
height: 24px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 0px;

}

.ftr-a{

}