@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Azeret Mono", monospace
}

/* Banner section Style */
.banner-container{
    width: 1440px;
height: 652px;
margin: 0 auto;
margin-top: 20px;
background-image: url(assets/Hero-bg.png);
background-position: center;
background-repeat: no-repeat;
}

.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-content img{
    width: 240.28px;
height: 240px;
margin-top: 20px;
}

.banner-content h1{
    width: 998px;
height: 95px;
text-align: center;
margin-top: 20px;

color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 35px;
font-weight: 800;
}

.banner-content p{
    width: 845px;
height: 52px;
opacity: 0.7;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
margin-top: 24px;
}

.banner-content button{
    
        width: 208px;
        height: 66px;
        font-family: Azeret Mono;
        background: rgb(13, 19, 33);
        color: rgb(255, 255, 255);
        font-size: 15px;
        font-weight: 600;
        line-height: 23px;
        letter-spacing: 0%;
        text-align: center;
        border-radius: 8px;
        margin-top:60px;
    
    
}
